.bcg-teem {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.person-list {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.social-network-list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  padding-left: 0;
}

.social-network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #2196f3;
    color: var(--main-bcg-color);
  }
}

.logo-company {
  padding-top: 94px;
  padding-bottom: 94px;
}
.social-network-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logo-company-title {
  margin-bottom: 50px;
}
.logo-company-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.logo-company-svg {
  width: 106px;
  height: 60px;
  display: flex;
  fill: currentColor;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .logo-company-link:hover &,
  .logo-company-link:focus & {
    fill: #2196f3;
  }
}

.logo-company-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
